@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  width: 100%;
}

body {
  background-color: #E5E5E5;
}

header {
  width: 100%;
}

header section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header section #left {
  width: 45%;
  height: 100vh;
  background: #007B6D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem 8rem;
}

header section #left h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 7rem;
  line-height: 8.6rem;
  color: #FEFEFE;
  padding-bottom: 4rem;
  padding-top: 100px;
  position: relative;
}

header section #left h1::before {
  content: "";
  position: absolute;
  bottom: 2.2rem;
  left: 8.5rem;
  width: 30rem;
  height: 2.6rem;
  background: url("../assets/line.svg") center center no-repeat;
  background-size: contain;
  z-index: 0;
}

header section #left p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 29px;
  color: #F8F8F8;
  padding-bottom: 3rem;
}

header section #left button {
  padding: 1rem 5.4rem;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 22px;
  color: #FEFEFE;
  background: #EF920F;
  border-radius: .1rem;
  border: none;
  cursor: pointer;
}

header section #right {
  width: 55%;
  height: 100vh;
  background: url("../assets/crop.jpg") center center no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
  padding: 3rem 9rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  width: 55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul #logo {
  width: 4rem;
  height: 4rem;
  background: url("../assets/logo.svg") center center no-repeat;
  background-size: contain;
}

nav ul #logo_name {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.01em;
  color: #DEECA3;
}

nav ul li a {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.6rem;
  color: #296059;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#organize {
  width: 100%;
  padding: 25rem 9.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#organize #org_left {
  width: 48%;
  position: relative;
}

#organize #org_left div {
  width: 50rem;
  height: 32.4rem;
  background-color: white;
  -webkit-box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.18), 0px 0px 2px rgba(255, 255, 255, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.18), 0px 0px 2px rgba(255, 255, 255, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

#organize #org_left::before {
  content: "";
  width: 6rem;
  height: 29rem;
  position: absolute;
  bottom: 25rem;
  right: -50px;
  background: url("../assets/Arrow.svg") center center no-repeat;
  background-size: contain;
}

#organize #org_right {
  width: 45%;
}

#organize #org_right h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 86px;
  color: #0E1724;
  padding-bottom: 3rem;
}

#organize #org_right p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 23px;
  color: #5B5D63;
  padding-bottom: 3rem;
}

#organize #org_right ul {
  list-style: disc;
}

#organize #org_right ul li {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 22px;
  color: #000000;
  padding-bottom: 2rem;
  -webkit-transform: translate(3rem);
          transform: translate(3rem);
}

#streamline {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #DEECA3;
}

#streamline div {
  width: 80%;
  padding: 3rem 8rem;
  background: #007B6D;
  -webkit-transform: translateY(-180px);
          transform: translateY(-180px);
}

#streamline div h1 {
  width: 100%;
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  color: #FEFEFE;
  padding-bottom: 2rem;
}

#streamline div p {
  width: 100%;
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: #E5E5E5;
  padding-bottom: 3rem;
}

#streamline div aside {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#streamline div aside article {
  width: 23.5rem;
  background-color: white;
  padding: 2.2rem 3rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#streamline div aside article img {
  padding-bottom: 2rem;
}

#streamline div aside article h2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
  padding-bottom: 1.5rem;
}

#streamline div aside article p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* or 120% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #454444;
}

footer {
  padding: 2rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  background-color: #0B0D17;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  color: #D9DBE1;
}

.signup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  display: none;
  place-items: center;
}

.signup form {
  width: 50rem;
  background-color: white;
  -webkit-box-shadow: 9.39709px 25.3119px 63px rgba(0, 0, 0, 0.01);
          box-shadow: 9.39709px 25.3119px 63px rgba(0, 0, 0, 0.01);
  border-radius: 2rem;
  padding: 3.9rem 5.8rem;
}

.signup form h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 39px;
  text-align: center;
  -webkit-font-feature-settings: 'salt' on, 'liga' off;
          font-feature-settings: 'salt' on, 'liga' off;
  padding-bottom: 5rem;
}

.signup form p {
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: -0.02em;
  color: #000000;
}

.signup form input[type=text], .signup form input[type=password], .signup form input[type=submit] {
  width: 100%;
  margin-bottom: 4rem;
  padding: 1rem 1rem 1rem 5rem;
  outline: none;
  border: 2px solid #E2E2E2;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #A0A0A0;
}

.signup form input[type=submit] {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: -0.02em;
  padding: 1.2rem 0rem;
  color: #FFFFFF;
  cursor: pointer;
}

.signup form input[type=checkbox] {
  border: 2px solid #E2E2E2;
  margin-right: .9rem;
}

.signup form #email::before {
  content: "";
  position: absolute;
  top: 2.7rem;
  left: .7rem;
  width: 3rem;
  height: 3rem;
  background: url("../assets/mail.svg") center center no-repeat;
  background-size: contain;
  z-index: 100;
}

.signup form #password::before {
  content: "";
  position: absolute;
  top: 2.7rem;
  left: .7rem;
  width: 3rem;
  height: 3rem;
  background: url("../assets/password.svg") center center no-repeat;
  background-size: contain;
  z-index: 100;
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  display: none;
  place-items: center;
}

.login form {
  width: 50rem;
  background-color: white;
  -webkit-box-shadow: 9.39709px 25.3119px 63px rgba(0, 0, 0, 0.01);
          box-shadow: 9.39709px 25.3119px 63px rgba(0, 0, 0, 0.01);
  border-radius: 2rem;
  padding: 3.9rem 5.8rem;
}

.login form h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 39px;
  text-align: center;
  -webkit-font-feature-settings: 'salt' on, 'liga' off;
          font-feature-settings: 'salt' on, 'liga' off;
  padding-bottom: 5rem;
}

.login form p {
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: -0.02em;
  color: #000000;
}

.login form input[type=text], .login form input[type=password], .login form input[type=submit] {
  width: 100%;
  margin-bottom: 4rem;
  padding: 1rem 1rem 1rem 5rem;
  outline: none;
  border: 2px solid #E2E2E2;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #A0A0A0;
}

.login form input[type=submit] {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: -0.02em;
  padding: 1.2rem 0rem;
  color: #FFFFFF;
  cursor: pointer;
}

.login form input[type=checkbox] {
  border: 2px solid #E2E2E2;
  margin-right: .9rem;
}

.login form #email::before {
  content: "";
  position: absolute;
  top: 2.7rem;
  left: .7rem;
  width: 3rem;
  height: 3rem;
  background: url("../assets/mail.svg") center center no-repeat;
  background-size: contain;
  z-index: 100;
}

.login form #password::before {
  content: "";
  position: absolute;
  top: 2.7rem;
  left: .7rem;
  width: 3rem;
  height: 3rem;
  background: url("../assets/password.svg") center center no-repeat;
  background-size: contain;
  z-index: 100;
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 998px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 35%;
  }
}
/*# sourceMappingURL=stylesheet.css.map */