@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  width: 100%;
}

body {
  background-color: #E5E5E5;
}

header {
  width: 100%;
}

header section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header section #left {
  width: 45%;
  height: 100vh;
  background: #007B6D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem 8rem;
}

header section #left h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 7rem;
  line-height: 8.6rem;
  color: #FEFEFE;
  padding-bottom: 4rem;
  padding-top: 100px;
  position: relative;
}

header section #left h1::before {
  content: "";
  position: absolute;
  bottom: 2.2rem;
  left: 8.5rem;
  width: 30rem;
  height: 2.6rem;
  background: url("../assets/line.svg") center center no-repeat;
  background-size: contain;
  z-index: 0;
}

header section #left p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 29px;
  color: #F8F8F8;
  padding-bottom: 3rem;
}

header section #left button {
  padding: 1rem 5.4rem;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 22px;
  color: #FEFEFE;
  background: #EF920F;
  border-radius: .1rem;
  border: none;
  cursor: pointer;
}

header section #right {
  width: 55%;
  height: 100vh;
  background: url("../../assets/crop.jpg") center center no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
  padding: 3rem 9rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  width: 55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul #logo {
  width: 4rem;
  height: 4rem;
  background: url("../assets/logo.svg") center center no-repeat;
  background-size: contain;
}

nav ul #logo_name {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.01em;
  color: #DEECA3;
}

nav ul li a {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.6rem;
  color: #296059;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  padding: 2rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  background-color: #0B0D17;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
}

#Government-Schemes {
  width: 100%;
  padding: 8rem 20rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#Government-Schemes h1 {
  font-family: 'DM Sans';
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
  color: #232323;
  padding-bottom: 4rem;
}

#Government-Schemes div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Government-Schemes div article {
  width: 35rem;
  padding: 4rem 3rem;
  background-color: white;
  margin-bottom: 4rem;
  -webkit-box-shadow: 11.3497px 21.1467px 34px rgba(0, 0, 0, 0.07);
          box-shadow: 11.3497px 21.1467px 34px rgba(0, 0, 0, 0.07);
}

#Government-Schemes div article h2 {
  width: 100%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: #18191F;
  padding-bottom: 2rem;
}

#Government-Schemes div article p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #18191F;
  padding-bottom: 2rem;
}

#Government-Schemes div article button {
  background-color: transparent;
  border: none;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 1.2rem;
  color: #8C30F5;
  cursor: pointer;
}

#practices {
  width: 100%;
  padding: 8rem 20rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#practices h1 {
  font-family: 'DM Sans';
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
  color: #232323;
  padding-bottom: 8rem;
}

#practices div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#practices div #left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#practices div #right {
  width: 50%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#practices div #right ul {
  list-style: disc;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

#practices div #right ul li {
  padding-bottom: 4rem;
}

#practices div #right h3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: #18191F;
}

#practices div #right p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  color: #18191F;
}

#more {
  padding: 0 20rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#more h1 {
  font-family: 'DM Sans';
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
  color: #232323;
  padding-bottom: 8rem;
}

#more article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#more div {
  width: 35rem;
}

#more div iframe {
  width: 100%;
  height: 19.6rem;
  margin-bottom: 2rem;
}

#more div h3 {
  font-family: 'DM Sans';
  font-weight: 600;
  font-size: 2.4rem;
  color: #18191F;
  padding-bottom: 1.5rem;
}

#more div p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.4rem;
  color: #18191F;
  padding-bottom: 10rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 998px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 35%;
  }
}
/*# sourceMappingURL=about.css.map */