@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

main{
    width: 100%;
}

body{
    background-color: #E5E5E5;
}
header{
    width: 100%;
    section{
        width: 100%;
        height: 100vh;
        display: flex;
        #left{
            width: 45%;
            height: 100vh;
            background: #007B6D;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0rem 8rem;
            h1{
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 7rem;
                line-height: 8.6rem;
                color: #FEFEFE;
                padding-bottom: 4rem;
                padding-top: 100px;
                position: relative;
            }

            h1::before{
                content: "";
                position: absolute;
                bottom: 2.2rem;
                left: 8.5rem;
                width: 30rem;
                height: 2.6rem;
                background: url("../assets/line.svg") center center no-repeat;
                background-size: contain;
                z-index: 0;
            }

            p{
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 2.4rem;
                line-height: 29px;
                color: #F8F8F8;
                padding-bottom: 3rem;
            }
            button{
                padding: 1rem 5.4rem;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 22px;
                color: #FEFEFE;
                background: #EF920F;
                border-radius: .1rem;
                border: none;
                cursor: pointer;
            }
        }
        #right{
            width: 55%;
            height: 100vh;
            background: url("../assets/assistance-back.svg") center center no-repeat;
            background-size: contain;
        }
    }
}

nav{
    width: 100%;
    padding: 3rem 9rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
        width: 55rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #logo{
            width: 4rem;
            height: 4rem;
            background: url("../assets/logo.svg") center center no-repeat;
            background-size: contain;
        }
        #logo_name{
            font-family: 'Staatliches';
            font-weight: 400;
            font-size: 2rem;
            letter-spacing: 0.01em;
            color: #DEECA3;

        }
        li{
            a{
                font-family: 'DM Sans';
                font-weight: 700;
                font-size: 1.6rem;
                color: #296059;
            }
        }
    }
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

#dealers{
    width: 100%;
    padding: 11rem 0rem;
    display: grid;
    place-items: center;
    h1{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 5rem;
        color: #0E1724;
        padding-bottom: 7rem;
    }
    section{
        width: 75%;
        display: flex;
        justify-content: space-between;
        div{
            width: 28rem;
            padding: 6rem 4rem 3rem 4rem;
            background-color: #007B6D;
            display: grid;
            place-items: center;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 11.3497px 21.1467px 34px rgba(0, 0, 0, 0.07);
            img{
                padding-bottom: 13rem;
            }
            h1{
                font-family: 'DM Sans';
                font-weight: 700;
                font-size: 3.6rem;
                color: #F8F8F8;
                padding-bottom: 0;
            }
        }
        div:hover{
            transform: scale(1.08);
            transition: .3s;
        }
    }
}

footer{
    padding: 2rem;
    width: 100%;
    display: grid;
    place-items: center;
    color: white;
    background-color: #0B0D17;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #D9DBE1;

}

#seeds, #fertilizers,#pesticides{
    width: 100%;
    min-height: 1800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(14, 23, 36, 0.356);
    display: none;
    place-items: center;
    div{
        width: 110rem;
        padding: 5rem 7rem;
        background-color: white;
        display: grid;
        place-items: center;
        box-shadow: 19.5881px 30.2044px 150px rgba(0, 0, 0, 0.03);
        border-radius: 1rem;
        h1{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 2.4rem;
            color: #000000;
            padding-bottom: 2rem;
        }
        table{
            width: 100%;
            font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 1.5rem;
            tr{
                width: 100%;
                color: #000000;
                padding-bottom: 2rem;
                th{
                    text-align: left;
                    padding: .8rem 2rem;
                    background-color: #000000;
                    color: white;
                }
                td{
                    padding: .8rem 2rem;
                    background-color: #F1F1F1;
                    color: black;
                    button{
                        border:none;
                        padding: .7rem 1.8rem;
                        cursor: pointer;
                        color: white;
                        background: #007B6D;
                    }
                }
            }
        }
    }
}

#animal-husbandary{
    width: 100%;
    padding: 4rem 12rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    h1{
        width: 30%;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 6rem;
        text-align: center;
        color: #007B6D;
        padding-right: 2rem;
    }
    p{
        width: 60%;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 3.2rem;
        text-align: center;
        color: #474747;
    }
}
#animal-husbandary::before{
    content: "";
    width: 7.08rem;
    height: 6rem;
    position: absolute;
    top: 2rem;
    left: 58.1rem;
    z-index: 2;
    background: url("../assets/comma.svg") center center no-repeat;
    background-size: contain;
}

#animal-img{
    width: 100%;
    height: 33.4rem;
    background: url("../assets/sheep.jpg") center center no-repeat;
    background-size: cover;
}

#imp-docs{
    width: 100%;
    padding: 8rem 18rem;
    background: #D3FFFA;
    display: grid;
    place-items: center;
    h1{
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 4rem;
        color: #031B4E;
        
    }
    p{

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 29px;
        color: #757575;
        padding-bottom: 10rem;
    }

    div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            color: #102C60;
            padding: 2rem 6rem;
            text-align: center;
            width: 50rem;
            margin-bottom: 4rem;
            background: white;
        }
    }
    

}